h1{
    color: #00f;
}

canvas{
    width: 80vw;
    height: auto;
}

button{
    display: none;
    margin-top: 50px;
}

.qr{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.qr__code{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    color: #fff;
}