extends /layout/_default-layout

prepend config-block
  - page_name = 'ABOUT'

append stylesheet-block
  link(rel="stylesheet", href="./css/about.css")

append javascript-block
  script(src="./js/about.js")

block content-block
  include ../partial/_header
  include ../partial/_footer
  