.wrapper{
    width: 100%;
    height: auto;
    font-family: $sans-serif;
    overflow: hidden; // IEで指定しないと余白ができる
    font-size: $base-font-size--pc;
    line-height: $base-line-height--pc;

    @include sp-layout{
        font-size: $base-font-size--sp;
        line-height: $base-line-height--sp;
    }

    @include pc-layout{
        @include strip(100, $main-color, $accent-color, 45deg);
    }
    @include sp-layout{
        @include strip(50, $accent-color, $main-color);
    }
}